openapi: 3.0.3
info:
  title: Verizon ThingSpace Connectivity Management Accounts SMS API
  description: Verizon ThingSpace Connectivity Management API provides device lifecycle management, account administration, session management, SMS messaging, and callback subscription services for IoT device deployments on Verizon's wireless network. Manage device activations, deactivations, SIM changes, service plan changes, and usage reporting for connected IoT devices at scale.
  version: '1.0'
  contact:
    name: Verizon ThingSpace Support
    url: https://thingspace.verizon.com/
  license:
    name: Verizon Terms of Service
    url: https://www.verizon.com/about/terms-conditions/
  x-generated-from: documentation
servers:
- url: https://thingspace.verizon.com/api/m2m/v2
  description: Verizon ThingSpace Connectivity Management API v2
security:
- OAuth2ClientCredentials: []
tags:
- name: SMS
  description: SMS messaging to devices
paths:
  /sms/{accountName}/actions/send:
    post:
      operationId: sendSmsToDevices
      summary: Verizon Send SMS to Devices
      description: Sends an SMS message to one or more devices. Messages can be up to 160 characters. Delivery of the SMS message can be confirmed through a callback subscription.
      tags:
      - SMS
      parameters:
      - name: accountName
        in: path
        required: true
        description: Account name
        schema:
          type: string
        example: 0000123456-00001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendSmsRequest'
            examples:
              SendSmsToDevicesRequestExample:
                summary: Default sendSmsToDevices request
                x-microcks-default: true
                value:
                  deviceIds:
                  - kind: imei
                    id: '990013907835573'
                  smsMessage: Hello IoT Device
      responses:
        '200':
          description: SMS send response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRequestResponse'
              examples:
                SendSmsToDevices200Example:
                  summary: Default sendSmsToDevices 200 response
                  x-microcks-default: true
                  value:
                    requestId: 595f5c44-c31c-4552-8670-020a1545a959
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DeviceId:
      type: object
      description: Device identifier
      properties:
        kind:
          type: string
          enum:
          - imei
          - meid
          - esn
          - iccid
          - min
          - mdn
          - otaid
          description: Type of device identifier
          example: imei
        id:
          type: string
          description: Device identifier value
          example: '990013907835573'
    SendSmsRequest:
      type: object
      required:
      - deviceIds
      - smsMessage
      description: Request to send SMS to devices
      properties:
        deviceIds:
          type: array
          items:
            $ref: '#/components/schemas/DeviceId'
        smsMessage:
          type: string
          maxLength: 160
          description: SMS message content
          example: Hello IoT Device
        encoding:
          type: string
          enum:
          - TEXT
          - UNICODE
          - BINARY
          description: Message encoding type
          example: TEXT
    DeviceRequestResponse:
      type: object
      description: Response containing request ID for async operations
      properties:
        requestId:
          type: string
          description: Unique request ID to track the operation
          example: 595f5c44-c31c-4552-8670-020a1545a959
        failedDevices:
          type: array
          items:
            type: object
            properties:
              deviceId:
                type: string
              cause:
                type: string
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://thingspace.verizon.com/api/m2m/v2/session/token
          scopes:
            DISCOVERYREAD: Read discovery information
            SERVICEPROFILEREAD: Read service profiles
            EVENTSREAD: Read device events
